* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0eded;
}

a {
  text-decoration: none;
}